.container-wrapper {
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    border: 1px solid #000000; /* Add a border*/
}

.messagesList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 10px 0;
}

.messageAuth {
    color: #403d5c;
}

.messageTimestamp {
    font-size: x-small;
    color: #757575;
}

#groupsList {
    padding: 10px;
}

#messages {
    border-bottom: 1px solid #000000;
}

#groups {
    flex: 0 0 30%; /* Set the width of #groups to 30% */
    height: 100%; /* Inherit the height from .container-wrapper */
    border-right: 1px solid #000000; /* Add a border to the right */
}

#discussion {
    flex: 0 0 70%; /* Set the width of #discussion to 70% */
    height: 100%; /* Inherit the height from .container-wrapper */
}

#messagesList {
    background-color: #fff;
    box-shadow: 0 0 10px #000000;
}

/* Hide groups on small screens */
@media screen and (max-width: 768px) {
    /* Hide groups on small screens */
    #groups {
        display: none;
    }
    /* Show button on small screens */
    #toggleGroups {
        display: block;
    }
}

/* Style for the toggle button */
#toggleGroups {
    display: none; /* Initially hide the button */
    margin-top: 10px; /* Adjust as needed */
}